<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LAN Scan"
        android:theme="@style/Theme.LANScan">
        
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity" android:exported="false" />
        <activity android:name=".activities.ScanActivity" android:exported="false" />
        <activity android:name=".activities.CVEActivity" android:exported="false" />
        <activity android:name=".activities.ResultsActivity" android:exported="false" />
        <activity android:name=".activities.HistoryActivity" android:exported="false" />
        <activity android:name=".activities.SettingsActivity" android:exported="false" />
        <activity android:name=".activities.AboutActivity" android:exported="false" />

    </application>
</manifest>
